extends layout

block content
  h1= title
  p Welcome to #{title}
  div 作者：
    a(href='/u/#{post["name"]}') #{post['name']}
  - if(typeof post['image'] !== 'undefined' && post['image'] !== '')
    div 图片：
      img(src = '/upload/images/#{post["image"]}')
  div 内容：#{post['post']}
  div 发布时间: #{post['time']['minute']}