extends layout/layout

block content
  h3= title
  .row
    .col-md-6.text-left
      a(href='/u/#{post["name"]}') #{post['name']}
    .col-md-6.text-right.text-muted #{post['time']['day']}
  - if(typeof user !== 'undefined' && user.name == post.name)
    p
      a.btn.btn-xs.btn-primary(href='/edit/#{post["name"]}/#{post["time"]["day"]}/#{post["title"]}') 编辑
      | &nbsp;
      a.btn.btn-xs.btn-primary(href='/remove/#{post["name"]}/#{post["time"]["day"]}/#{post["title"]}') 删除
  - if(typeof post['image'] !== 'undefined' && post['image'] !== '')
    p 图片：
      img(src = '/upload/images/#{post["image"]}')
  p !{post['post']}
  include comment