extends layout

block content
  - for(var i = 0; i < posts.length; i++)
    .row.list-item
      .col-lg-8.list-item-content
        h1
          a(href = '/u/#{posts[i]["name"]}/#{posts[i]["time"]["day"]}/#{posts[i]["title"]}') #{posts[i]['title']}
        - if(typeof posts[i]['image'] !== 'undefined' && posts[i]['image'] !== '')
          p
            img(src = '/upload/images/#{posts[i]["image"]}', width = '100%')
        p #{posts[i]['post']}
      .col-lg-4.list-item-nav
        dl.dl-horizontal
          dt 作者：
          dd
            a(href='/u/#{posts[i]["name"]}') #{posts[i]['name']}
        dl.dl-horizontal
          dt 发表于：
          dd #{posts[i]['time']['day']}

  - if(!isFirst)
    a(href = '?page=#{page - 1}') 上一页
  - if((isFirst && !isLast) || !isLast)
    a(href = '?page=#{page + 1}') 下一页