extends layout/layout

block content
  - for(var i = 0; i < posts.length; i++)
    .panel
      .row
        .col-md-6
          h2 #{posts[i]['title']}
        .col-md-6.text-right
          a(href='/u/#{posts[i]["name"]}') #{posts[i]['name']}
          em #{posts[i]['time']['day']}
      .row
        - if(typeof posts[i]['image'] !== 'undefined' && posts[i]['image'] !== '')
          img.img-responsive.img-border.img-left(src='/upload/images/200_#{posts[i]["image"]}')
        hr.visible-xs
        p !{posts[i]['post']}
  .text-center
    ul.pager
      - if(!isFirst)
        li.previous
          a(href = '?page=#{page - 1}') ← 上一页
      - if((isFirst && !isLast) || !isLast)
        li.next
          a(href = '?page=#{page + 1}') 下一页 →

block js_content
  script(src='js/index.js')