.panel
  .panel-body
    h3
      a(href='/u/#{post.name}/#{post.time.day}/#{post.title}') #{post.title}
    br
    .row
      .col-md-6.text-left
        a(href='/u/#{post.name}') #{post.name}
      time.col-md-6.text-right.text-muted #{post.time.day}
    br
    div !{post.post}
    - if(user && user.name == post.name)
      p.text-right
        a(href='/edit/#{post.name}/#{post.time.day}/#{post.title}')
          span.glyphicon.glyphicon-edit
          | 编辑
        |&nbsp;
        a(href='/remove/#{post.name}/#{post.time.day}/#{post.title}')
          span.glyphicon.glyphicon-trash
          | 删除
