- var titleEncode = encodeURIComponent(post.title)
h1
  a.pjax-main.post-title(href='/u/#{post.name}/#{post.time.day}/#{titleEncode}') #{post.title}
.row
  .col-md-6.text-left.post-short-info
    a(href='/u/#{post.name}')
      img.avatar-min(src='/avatar/#{post.name}')
      |  #{post.name}
    - if(post.filter)
      include filters
      - each filter in filters
        - if(filter.key == post.filter)
          a.label.label-success(href='/?filter=#{post.filter}') #{filter.name}
    span.label.label-danger 炫富大赛
  time.col-md-6.text-right.text-muted.post-time
    .glyphicon.glyphicon-time
    |  #{post.time.day}
- if(user && user.name == post.name)
  .post-btns
    a(href='/edit/#{post.name}/#{post.time.day}/#{titleEncode}')
      span.glyphicon.glyphicon-edit
      |  编辑
    |&nbsp;&nbsp;
    a(href='/remove/#{post.name}/#{post.time.day}/#{titleEncode}')
      span.glyphicon.glyphicon-trash
      |  删除