- var titleEncode = encodeURIComponent(post.title)
h1
  a.post-title(href='/u/#{post.name}/#{post.time.day}/#{titleEncode}') #{post.title}
//.row
  .col-md-6.text-left
    a(href='/u/#{post.name}') #{post.name}
  time.col-md-6.text-right.text-muted #{post.time.day}
.post-content !{post.post}
- if(user && user.name == post.name)
  p.post-btns
    a(href='/edit/#{post.name}/#{post.time.day}/#{titleEncode}')
      span.glyphicon.glyphicon-edit
      | 编辑
    |&nbsp;
    a(href='/remove/#{post.name}/#{post.time.day}/#{titleEncode}')
      span.glyphicon.glyphicon-trash
      | 删除
