.panel
  h3
    a(href='/u/#{post.name}/#{post.time.day}/#{post.title}') #{post.title}

  .row
    .col-md-6.text-left
      a(href='/u/#{post.name}') #{post.name}
    time.col-md-6.text-right.text-muted #{post.time.day}
  p
    - if(typeof post.image !== 'undefined' && post.image !== '')
      img.img-responsive.img-border.img-left(src='/upload/images/200_#{post.image}')
  hr.visible-xs
  p !{post.post}
  - if(user && user.name == post.name)
    p.text-right
      a(href='/edit/#{post.name}/#{post.time.day}/#{post.title}')
        span.glyphicon.glyphicon-edit
        | 编辑
      |&nbsp;
      a(href='/remove/#{post.name}/#{post.time.day}/#{post.title}')
        span.glyphicon.glyphicon-trash
        | 删除
